@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body, html {
  height: 100%;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #ffffff, #ecfbf7);
}

.forgot-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.forgot-card {
  display: flex;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 900px;
  max-width: 95%;
}

.forgot-left {
  flex: 1;
  padding: 60px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  font-size: 26px;
  font-weight: 600;
  color: #00bfa6;
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo span {
  color: #00bfa6;
}

.forgot-title {
  font-size: 2rem;
  color: #111827;
  margin: 20px 0 8px;
}

.forgot-subtext {
  color: #6b7280;
  font-size: 14px;
  margin-bottom: 30px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  color: #374151;
  font-size: 14px;
  font-weight: 500;
}

.forgot-input {
  width: 100%;
  height: 52px;
  padding: 0 18px;
  border-radius: 50px;
  border: 1.5px solid #d1d5db;
  outline: none;
  font-size: 15px;
  transition: all 0.3s ease;
}

.forgot-input:focus {
  border-color: #00bfa6;
  box-shadow: 0 0 0 3px rgba(0, 191, 166, 0.15);
}

.reset-btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 50px;
  background-color: #00bfa6;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 20px;
}

.reset-btn:hover {
  background-color: #00a896;
}

.footer-text {
  margin-top: 20px;
  text-align: center;
  color: #111;
  font-size: 14px;
}

.signup-link {
  color: #00bfa6;
  text-decoration: none;
  font-weight: 500;
}

.signup-link:hover {
  text-decoration: underline;
}

/* Right Illustration */
.forgot-right {
  flex: 1;
  background: #ecfbf7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-right img {
  width: 80%;
  max-width: 400px;
}

/* Responsive */
@media (max-width: 850px) {
  .forgot-card {
    flex-direction: column;
    width: 90%;
  }

  .forgot-right {
    background: none;
  }

  .forgot-right img {
    max-width: 250px;
    margin-top: 20px;
  }
}
.error-text {
  color: #e63946;        /* red */
  font-size: 13px;
  margin-top: 4px;
  display: block;
  text-align: left;   
}
